* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 187.5%;
}
body {
  width: 100%;
  color: #303030;
  font-family: 'Montserrat';
  background-color: #f5f6f8;
}
img {
  max-width: 100%;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
button,
textarea {
  font: inherit;
  outline: none;
  resize: none;
}
.content {
  width: 73rem;
  margin: 0 auto;
}
h1 {
  padding: 2rem 0;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 500;
}

/* Блок с меню */
header {
  width: 100%;
  color: #fff;
  background-image: url('../img/top_bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 2rem 0;
}
.menu__item {
  padding:
  color: #fff;
  font-size: .8rem;
  font-weight: 500;
}
.signIn {

}
.signUp {}

/* Поиск */
#find {
  padding: 3rem 0;
}
.find__form {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}
.find__text {
  width: 90%;
  padding: 1rem;
  background-color: #fff;
  border: 0;
}
.find__button {
  width: 7%;
  background-color: #439bff;
  background-image: url('../img/find.svg');
  -webkit-background-size: auto 70%;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
}

/* Реклама */
#advertising {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.advertising__item {
  display: block;
  width: 31%;
}
.advertising__item img {
  width: 100%;
}

/* Хлебные крошки */
#breadcrumbs {
  padding: 3rem 0 0.5rem 0;
  border-bottom: 2px solid #e0e1e3;
}

/* Основной контент */
#general {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0 3rem 0;
}
.general__navigation {
  display: block;
  width: 19%;
  padding: 1rem;
  font-size: .8rem;
  background-color: #fff;
}
.general__navigation-title {
  padding: 1rem 0;
  font-weight: bold;
}
.general__navigation-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  border-top: 2px solid #e0e1e3;
}
.general__navigation-subtitle {
  padding: 0.5rem 0;
  font-weight: 500;
  cursor: pointer;
}
.general__navigation-subitem {
  display: none;
  padding: 0.5rem;
}
.general__material {
  width: 56%;
  background-color: #fff;
}
.general__pagination {
  width: 94%;
  padding: 1rem 3%;
  border-bottom: 2px solid #e0e1e3;
}
.general__pagination:last-child {
  border: 0;
  border-top: 2px solid #e0e1e3;
}
.general__pagination-link {
  display: block;
  width: 15%;
  padding: 0.7rem;
  text-align: center;
  color: #fff;
  background-color: #439bff;
}
.general__advertising {
  width: 17%;
}
.general__advertising-item {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
.general__document {
  padding: 1rem 3%;
}

/* Окно входа и регистрации */
#login,
#registration,
#callback {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin: 2rem auto;
}
.form__title {
  font-size: 1.3rem;
  font-weight: 500;
}
.login__input {
  width: 80%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.1rem;
}
.login__button,
.registration__button {
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.1rem;
  color: #fff;
  border: 0;
  background-color: #439bff;
}
.login__button {
  width: 40%;
}
.registration__button {
  width: 55%;
}

@media screen and (max-width: 1950px) {
  html {
    font-size: 137.5%;
  }
}
@media screen and (max-width: 1620px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 87%;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 82.5%;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 2vw;
  }
  .content {
    width: 90%;
  }
}
